*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content{
    flex: 1;
    border: 2px solid greenyellow;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}